{
	admin off
}

{$APP_ADDRESS::80} {
	encode zstd gzip

	@backend path /api/* /health
	handle @backend {
		reverse_proxy api:3333
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

:2019 {
	respond /health 200
}
